
/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: #333;
  padding-top: 60px; /* To avoid content overlap with fixed header */
  text-align: center;
}

/* Header Styles */
header {
  background-color: #006400;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header nav {
  display: none;
}

nav.nav-open {
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffcc00;
}

/* Responsive Nav Icon */
.nav-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s;
  margin-right: 20px; /* Add margin to prevent icon from being out of screen */
}

.nav-icon.rotate {
  transform: rotate(90deg);
}

/* Responsive Navigation */
@media (max-width: 768px) {
  .header-content {
    justify-content: space-between;
  }

  nav {
    position: absolute;
    top: 60px; /* Adjust as needed */
    right: 0;
    background-color: #006400;
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin: 10px 0;
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }

  .nav-icon {
    display: block;
  }

  nav.nav-open ul {
    display: flex;
  }
}

/* Media Query for Big Screens */
@media (min-width: 769px) {
  .nav-icon {
    display: none;
  }

  header nav {
    display: flex;
  }
}

/* Main Content Styles */
main {
  padding: 20px;
}

.app.dark-mode main {
  background-color: #121212;
  color: #e0e0e0;
}

section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app.dark-mode section {
  background-color: #1f1f1f;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Home Section */
#home .hero {
  background-image: url("../images/home.webp"); 
  background-size:auto;
  background-position: center;
  text-align: center;
  padding: 100px 20px;
  color: #fff;
}

#home .hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#home .hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

#home .hero .cta-button {
  padding: 15px 30px;
  background-color: #ffcc00;
  color: #006400;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#home .hero .cta-button:hover {
  background-color: #ffd700;
}

.app.dark-mode #home .hero {
  color: #e0e0e0;
}

#home .overview {
  text-align: center;
  padding: 50px 20px;
}

#home .overview h2 {
  font-size: 36px;
  color: #006400;
  margin-bottom: 20px;
}

#home .overview p {
  font-size: 18px;
  color: #555;
}

/* Services Section */
#services h2,
#team h2,
#testimonials h2,
#about h2,
#quote h2 {
  font-size: 28px;
  color: #006400;
  border-bottom: 2px solid #ffcc00;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#services ul {
  list-style-type: none;
  padding: 0;
}

#services ul li {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

/* Team Section */
#team p {
  font-size: 18px;
  color: #555;
}

/* Testimonials Section */
#testimonials p {
  font-size: 18px;
  color: #555;
}

/* About Section */
#about p {
  font-size: 18px;
  color: #555;
}

/* Quote Section */
#quote form {
  display: flex;
  flex-direction: column;
}

#quote label {
  font-size: 18px;
  color: #006400;
  margin-bottom: 5px;
}

#quote input,
#quote textarea {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#quote button {
  padding: 10px 20px;
  background-color: #006400;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#quote button:hover {
  background-color: #004d00;
}

.app.dark-mode #quote button {
  background-color: #333;
}

.app.dark-mode #quote button:hover {
  background-color: #444;
}

/* Footer Styles */
footer {
  background-color: #006400;
  color: #fff;
  font-family:monospace;
  padding: 5px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.app.dark-mode footer {
  background-color: #1f1f1f;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul li {
    margin: 10px 0;
  }

  main {
    padding: 10px;
  }

  #home .hero h1 {
    font-size: 36px;
  }

  #home .hero p {
    font-size: 18px;
  }

  #home .hero .cta-button {
    padding: 10px 20px;
    font-size: 16px;
  }

  #home .overview h2 {
    font-size: 28px;
  }

  #home .overview p {
    font-size: 16px;
  }

  #services h2,
  #team h2,
  #testimonials h2,
  #about h2,
  #quote h2 {
    font-size: 24px;
  }

  #services ul li {
    font-size: 16px;
  }

  #team p,
  #testimonials p,
  #about p,
  #quote label {
    font-size: 16px;
  }

  #quote input,
  #quote textarea {
    font-size: 14px;
  }

  #quote button {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  header .logo {
    font-size: 20px;
  }

  header .dark-mode-toggle {
    padding: 5px;
    font-size: 14px;
  }

  #home .hero h1 {
    font-size: 28px;
  }

  #home .hero p {
    font-size: 14px;
  }

  #home .hero .cta-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  #home .overview h2 {
    font-size: 24px;
  }

  #home .overview p {
    font-size: 14px;
  }

  #services h2,
  #team h2,
  #testimonials h2,
  #about h2,
  #quote h2 {
    font-size: 20px;
  }

  #services ul li {
    font-size: 14px;
  }

  #team p,
  #testimonials p,
  #about p,
  #quote label {
    font-size: 14px;
  }

  #quote input,
  #quote textarea {
    font-size: 12px;
  }

  #quote button {
    font-size: 14px;
  }
}


.team-member {
  display: flex;
  align-items: center; /* Center items vertically */
  width: 100%; /* Ensure boxes take full width of the container */
  max-width: 600px; /* Adjust as needed */
  padding: 20px;
  margin: 10px 0; /* Reduce vertical margin */
  background-color: #fff;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a 3D effect */
  transition: transform 0.2s; /* Smooth transition for hover effect */
}

.team-member:hover {
  transform: translateY(-5px); /* Slight lift on hover */
}

.team-member img {
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the image circular */
  object-fit: contain; /* Ensure the image covers the entire container */
  margin-right: 20px; /* Space between image and details */
}

.team-member-details {
  flex: 1; /* Allow details to take up remaining space */
  display: flex;
  flex-direction: column; /* Arrange details vertically */
  justify-content: center; /* Center details vertically */
}

.team-member-details h3 {
  margin: 0; /* Remove default margin */
  font-size: 1.5em; /* Increase font size */
  color: #006400; /* Dark green color */
  
}

.team-member-details p {
  margin: 5px 0; /* Adjust margins as needed */
  font-size: 1em; /* Standard font size */
  color: #333; /* Dark grey color */
  font-style: italic;
}

.team-members {
  display: flex;
  flex-direction: column; /* Arrange team members in a column */
  align-items: center; /* Center the team members horizontally */
  gap: 10px; /* Reduce the gap between team members */
}
